@model IEnumerable<EFOrderTask.Models.ViewModels.ItemViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Item Details List</h1>

<div>
    <a asp-action="CreateItem" class="btn btn-primary">Create Item</a> || <a asp-action="AddItemDetails" class="btn btn-primary">Add Details Item</a>
</div>
<br />
<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find by name: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
            <input type="submit" value="Search" class="btn btn-default" /> |
            <a asp-action="Index">Back to Full List</a>
        </p>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]"> Item Name</a>
               
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["UnitTypeSortParm"]">Unit Name</a>
                @*@Html.DisplayNameFor(model => model.ItemUnits.Select(x=>x.Unit.Unit_Name).FirstOrDefault())*@
               
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["PriceSortParm"]">Price</a>
                @*<a asp-action="Index" asp-route-sortOrder="@ViewData["PriceSortParm"]">@Html.DisplayNameFor(model => model.UnitPrice)</a>*@
                @*@Html.DisplayNameFor(model => model.ItemUnits.Select(x=>x.Price).FirstOrDefault())*@
               @* Price*@
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Count() > 0)
        {
            @foreach (var item in Model)
         {
               
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ItemName)
                    </td>
                    <td>
                        @item.UnitType
                    </td>
                    <td>
                        @item.Price
                    </td>
                    <td>
                        <a asp-action="EditItem" asp-route-id="@item.ItemId">Edit</a> |
                        <a asp-action="ItemDetails" asp-route-id="@item.ItemId">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.ItemId">Delete</a>
                    </td>
                </tr>
            }

        }
    </tbody>
</table>
